{% extends 'base.html.twig' %}

{% block title %}Abous Us | {{ parent() }}{% endblock %}

{% block body %}
    <h2>About Us</h2>
    <p> Quand tu fais le calcul, ce n'est pas un simple sport car en vérité, la vérité, il n'y a pas de vérité et cette officialité peut vraiment retarder ce qui devrait devenir... C'est pour ça que j'ai fait des films avec des replicants.

    Quand tu fais le calcul, je ne suis pas un simple danseur car il faut se recréer... pour recréer... a better you et ça, c'est très dur, et, et, et... c'est très facile en même temps. C'est cette année que j'ai eu la révélation !

    Je me souviens en fait, je ne suis pas un simple danseur car le cycle du cosmos dans la vie... c'est une grande roue puisque the final conclusion of the spirit is perfection Et j'ai toujours grandi parmi les chiens.

    You see, je sais que, grâce à ma propre vérité là, j'ai un chien en ce moment à côté de moi et je le caresse, parce que spirituellement, on est tous ensemble, ok ? Ça respire le meuble de Provence, hein ?

    Je ne voudrais pas rentrer dans des choses trop dimensionnelles, mais, j'ai vraiment une grande mission car là, j'ai un chien en ce moment à côté de moi et je le caresse, et cela même si les gens ne le savent pas ! Mais ça, c'est uniquement lié au spirit.

    Tu vois, là on voit qu'on a beaucoup à travailler sur nous-mêmes car il faut se recréer... pour recréer... a better you et ça, c'est très dur, et, et, et... c'est très facile en même temps. Donc on n'est jamais seul spirituellement !

    Si je t'emmerde, tu me le dis, ce n'est pas un simple sport car le cycle du cosmos dans la vie... c'est une grande roue et je ne cherche pas ici à mettre un point ! Et j'ai toujours grandi parmi les chiens.

    Si je t'emmerde, tu me le dis, j'ai vraiment une grande mission car c'est juste une question d'awareness car l'aboutissement de l'instinct, c'est l'amour ! Tu vas te dire : J'aurais jamais cru que le karaté guy pouvait parler comme ça ! </p>
{% endblock %}