{% extends 'base.html.twig' %}

{% block title %}All wishes | {{ parent() }}{% endblock %}

{% block body %}
    <h2>All Wishes !</h2>
    <ul>
        {% for wish in wishes %}
            <li>
                <article>
                    <a href="{{ path('wishes_wish_detail', {'id': wish.id}) }}" title="View this wish in details">
                        {{ wish.title }}
                    </a>
                    {% if wish.category.id != 0 %}
                        <p>Catégorie : {{ wish.category.name }}</p>
                    {% else %}
                        <p>Aucune catégorie associée</p>
                    {% endif %}
                </article>
            </li>
        {% else %}
            <li>Pas de Wish dans la bd</li>
        {% endfor %}
    </ul>
{% endblock %}